body{
    text-align: center;
}

h1{
    filter: drop-shadow(5px 5px 5px black);
}

img{
    width: 400px;
    /* filter: blur(10px); */
    /* filter: brightness(200%); */
    /* filter: brightness(150%); */
    /* filter: saturate(200%); */
    /* filter: sepia(100%); */
    /* filter: hue-rotate(100deg); */
    /* filter: invert(100%); */
    /* filter: opacity(0.5); */
    filter: drop-shadow(5px 5px 5px black);
}