body {
    font-family: "Fixedsys Excelsior 3.01";
    color: #333;
    text-align: center;
    background-color: #eee;
    line-height: 1.6;
    font-weight: 300;
    min-height: 2000px;
}

.container {
    width: 80%;
    margin: auto;
}

.btn {
    display: inline-block;
    background: #333;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    padding: 1em 3em;
    margin: 0 1rem;
}

.btn-sm {
    font-size: 0.5em;
}

.btn-lg {
    font-size: 2em;
}
